$bgColor: #1a1b26;
$bgColorFocused: #1e202e;
$bgColorDark: #16161e;
$textColor: #8da0c4;
$textcolorFocused: #395696;
$btnColor: #3d59a1;

* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: sans-serif;
	box-sizing: border-box;
}

header {
	display: block;
	width: 100%;
	padding: 16px;
	background-color: $bgColorDark;
	border-bottom: 1px solid black;

	h1 {
		display: block;
		text-align: center;
		color: white;
	}
}

#contenido {
	width: 100%;
	background-color: aquamarine;
	height: calc(100vmin - 70px);
	display: flex;

	#codigo {
		width: 35%;
		height: 100%;

		#editor {
			width: 100%;
			height: 100%;

			.CodeMirror {
				height: 100%;
				background-color: $bgColor;
				color: $textColor;
				font-size: 24px;

				&-cursor {
					border-left: 1px solid white;
				}

				&-line {
					padding-left: 16px;
				}

				&-gutters {
					background-color: $bgColor;
				}

				&-linenumber {
					font-size: 16px;
					top: 5px;
				}

				.line-focused {
					background-color: $bgColorFocused;
				}

				.linenumber-focused {
					color: $textcolorFocused;
				}

				.cm-builtin {
					color: #6d5c9b;
				}
			}
		}
	}

	#acciones {
		width: 100px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: $textColor;

		.grupo-botones {
			width: 100%;
			margin-bottom: 32px;

			button {
				display: block;
				width: 100%;
				background-color: $btnColor;
				cursor: pointer;
				margin-bottom: 16px;
				color: white;
				padding: 16px 4px 16px 4px;
				text-align: center;
				border: none;
				outline: none;

				&:hover {
					background-color: #2d4374;
					transition: all 200ms;
				}

				&:active {
					transform: scale(0.9);
				}
			}
		}
	}

	#resultado {
		display: flex;
		flex-direction: column;
		width: calc(65% - 100px);
		height: 100%;
		background-color: whitesmoke;

		#resultado_bin {
			width: 100%;
			height: 50%;
		}

		#resultado_hex {
			width: 100%;
			height: 50%;
			background-color: aquamarine;
		}

		.resultados {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 8px;
			font-size: 26px;
			max-height: 100%;
			overflow: auto;

			.instruccion {
				display: flex;
				gap: 8px;
				margin-bottom: 8px;

				.numero-instruccion {
					user-select: none;
					font-size: 20px;
				}

				.boton-copiar {
					user-select: none;
					border: none;
					padding: 2px;
					border-radius: 2px;
					width: 32px;
					cursor: pointer;
					background-color: $btnColor;
					margin-left: 20px;

					&:active {
						transform: scale(0.9);
						transition: all 100ms;
					}

					span {
						font-size: 18px;
						color: white;
					}
				}

				>span {
					display: flex;
					justify-content: center;
					align-items: center;
				}

				>span:first-child {
					width: 40px;
				}
			}
		}
	}
}
